/* ===========PROJECTS-PAGE=========== */
.projects-page{
    font: 400 16px Roboto Mono, monospace;
    padding: 20px;
    padding-left: var(--padding-main);
    padding-right: var(--padding-main);
    min-height: 80vh;
    position: relative;
}

.projects-page-container{
    padding-top: 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
    gap: 80px;
}

.projects-container{
    padding: 10px;
    position: relative;
    width: 300px;
}

.projects-img-div img{
    border-radius: 5px;
    width: 100%;
}

.projects-text{
    padding-top: 5px;
}

.projects-button{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}

.projects-button button{
    cursor: pointer;
    position: relative;
    background: none;
    width: 110px;
    line-height: 20px;
    font-size: 16px;
    padding: 5px 2px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.projects-button button ion-icon{
    font-size: 20px;
    float: left;
}

.projects-mobile{
    margin-top: 10px;
}

.projects-mobile p{
    text-decoration: underline;
}

.checkmark{
    font-size: 16px;
    color: green;
}

.no-checkmark{
    font-size: 16px;
    color:red;
}

@media all and (max-width: 490px){
    .projects-page{
        padding-left: var(--padding-responsive);
        padding-right: var(--padding-responsive);
    }
}